*{
    margin:0;
    padding:0;
}
body{
    background: url('img/white.jpg');
}
/* mob and desctop */
.logo, .logo1, .logo2,.bands,.dark_button,.logo3,.text_bme,.bme_co_uk,.dark_mode_mob
{
    display:none;
}
@media(orientation:landscape){
    .logo,.logo1,.logo2{
        display: inline-block;    
        width: 13em;
        height: 13em;
        border-radius: 10em;
        margin-left: 5em;
        margin-top: 1em;
}
    .bands{
        display: inline-block;
        border-top: double rgb(72, 71, 71) 0.5em;
        border-bottom: double rgb(72, 71, 71) 0.5em;
        height: 15em;
        width: 100%;
}
    .dark_button{
        display: inline-block;
    }
}

@media (orientation: portrait) {
    .logo3{
        display: inline-block;
        justify-content: center;
        width: 18em;
        margin-top: 2em;
    }
    .text_bme{
        display: flex;
    }
    .bme_co_uk{
        display: flex;
        justify-content: center;
    }
    .dark_mode_mob{
        display: inline-block;
        margin-left: 2em;
        margin-top: 0.5em;
    }
}
/* glowing text */
@keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px rgb(139, 243, 241), 0 0 30px #4c83f848, 0 0 40px #009de6, 0 0 50px #3103fd, 0 0 60px #00ccff, 0 0 70px #0839b7;
    }
    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #1db28d, 0 0 40px #19c89f, 0 0 50px #0e8074, 0 0 60px #0b3295, 0 0 70px #085e1f, 0 0 80px #00f2ff;
    }
}
.text_bme, .welcome, .event-text, .h1,.bands_name{
    color: rgb(255, 255, 255);
    text-align: center;
    -webkit-animation: glow 2s ease-in-out infinite alternate;
    -moz-animation: glow 2s ease-in-out infinite alternate;
    animation: glow 2s ease-in-out infinite alternate;
}

/* Header */
.header{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    /* margin-bottom: 2em; */
    margin-top: 1em;
}
.logo{
    border: double rgb(72, 71, 71) 0.5em;
}
.logo1{
    width: 55em;
    margin-top: 3em;
}
.logo2{
    margin-right: 5em;
    border: double rgb(72, 71, 71) 0.5em;
}
.text_bme{
    font-size: 2em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
.bme_co_uk{
    border-top: double rgb(72, 71, 71) 0.5em;
    border-bottom: double rgb(72, 71, 71) 0.5em;
    background-color: black;
}
/* DarkMode */
.dark-mode{
    background:url('img/dark.jpg');
    color: white;
}
.dark_button{
    width: 11em;
    height: 5em;
    margin-right: 3em;
    margin-top: 1em;
    float:right;
    background: linear-gradient(90deg,#363637,#9ea2a9,#929498,#49494a);
    border-radius: 1.5em;
    box-shadow: 0 1em 0.5em rgb(19, 19, 73);
    cursor: pointer;
    transition-duration: 0.1s;
    }
.dark_button:hover{
    background: linear-gradient(90deg,#3f966cdc,#92f3ba,#73f7bc,#298f54c5);
}
.dark_button:active{
    box-shadow: 0 0.2em ;
    transform: translateY(4px);
}
.dark_text{
    height: 2em;
}

.dark_button_mob{
    border-radius: 4em;
    box-shadow: 0 1em 0.5em rgb(30, 30, 31);
    cursor: pointer;
    transition-duration: 0.1s;
    margin-top: 0.5em;
}
.dark_button_mob:active{
    box-shadow: 0 0.2em ;
    transform: translateY(4px);
}
.dark_button_mob:hover{
    background: rgb(121, 184, 25);
}
.dm{
    width: 5em;
    border-radius: 4em;
}
/* menu */
.navbar {
    overflow: hidden;
    background-color: rgba(51, 51, 51, 0.606);
    font-family: Arial;
}
.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.dropdown {
    float: left;
    overflow: hidden;
}
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font: inherit; 
    margin: 0; 
}
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgba(59, 93, 205, 0.6);
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #53505000;
    width: 100%;
    left: 0;
    box-shadow: 0px 8px 16px 0px rgba(40, 38, 38, 0.2);
    z-index: 1;
}
.dropdown-content .header {
    background: rgba(68, 149, 225, 0.732);
    width: 67%;
    padding: 16px;
    color: white;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.column {
    float: left;
    width: 33.33%;
    padding: 10px;
    background-color: rgba(65, 62, 62, 0.8);
    height: 250px;
}
.column a {
    float: none;
    color: rgba(226, 227, 229, 0.918);
    padding: 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.column a:hover {
    background-color: rgba(68, 149, 225, 0.611);;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
/* Home page Welcome text and footer*/
.welcome_text{
    text-align: center;
    margin-top: 2.5em;
    font-size: 2em;
}

.main-box {
    padding: 5em;
    width: 50em;
    border-radius: 25px;
    background-color: rgba(68, 67, 67, 0.684);
    border: double rgb(72, 71, 71) 0.5em;
}
.p-text{
    font-size: 1.5em;
    text-align: center; 
}
.center{
    display: flex;
    justify-content: center;
    margin-top: 2em;
    margin-bottom: 10em;
}
.footer-text{
    margin-top: 2em;
    margin-bottom: 2em;
    text-align: center;
}
/* Events */
#divBea, #hide_2, #hide_3, #hide_4, #hide_5, #hide_6, #hide_7, #hide_8{
    display: none;
}
.event-text{
    margin-top: 2em;
    margin-left: 1em;
    font-size: 3em;
}
.event-buttons, .buy, .no_content{
    width: 7em;
    height: 3em;
    margin-left: 3em;
    margin-top: 3em;
    border-radius: 1em;
    background: linear-gradient(90deg,#363637,#9ea2a9,#929498,#49494a);
    box-shadow: 0 1em 0.5em rgba(37, 37, 39, 0.725);
    cursor: pointer;
    transition-duration: 0.1s;
    }
.event-buttons:hover,.buy:hover,.contact-buttons:hover{
    background: linear-gradient(90deg,#3f966cdc,#92f3ba,#73f7bc,#298f54c5);
    }
.event-buttons:active,.but:active,.contact-buttons:active{
        box-shadow: 0 0.2em ;
        transform: translateY(4px);
    }
.band_buttons{
    display: flex;
    justify-content: center;
}

* {
    box-sizing: border-box;
}
.container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.box {
    font-size: 1.6em;
    font-family: 'Montserrat Alternates', sans-serif;
    padding: 1em;
    margin-left: 2em;
}
.box1{
    margin-top: 1em;
    border-bottom: dotted silver 0.1em;
}
.no_content{
    opacity: 0.5;
    cursor: not-allowed;
}
.no_content:hover{
    background: rgba(255, 0, 0, 0.469);
}
.korn{
    margin-bottom: 2em;
}
/* Contact Us */
.h1{
    display: flex;
    justify-content: center;
    margin-top: 3em;
    margin-bottom: 2em;

}
.contact-box {
    padding: 2em;
    width: 40em;
    border-radius: 1em;
    background-color: rgba(68, 67, 67, 0.684);
    border: double rgb(72, 71, 71) 0.5em;
}
.contact_img{
    margin-top: 1em;
    border-radius: 5em;
}
.contact-buttons{
    width: 7em;
    height: 3em;
    margin-top: 1em;
    border-radius: 1em;
    background: linear-gradient(90deg,#363637,#9ea2a9,#929498,#49494a);
    box-shadow: 0 1em 0.5em rgba(37, 37, 39, 0.725);
    cursor: pointer;
    transition-duration: 0.1s;
    }
.form-box1{
    text-align: center;
    margin-top: 1em;
}
#e_mail{
    background-color: rgba(68, 67, 67, 0.684);
    border-top: double rgb(72, 71, 71) 0.5em;
    border-bottom: double rgb(72, 71, 71) 0.5em;
}
.e-mail{
    font-size: 1.1em;
    text-align: center;
}
/* bands */
.bands_name{
    margin-top: 1.3em;
    font-size: 4em;
    margin-bottom: 0.3em;
}
.band{
    display: flex;
    justify-content: center;
}
.logo-band{
    width: 14em;
    border: double rgb(72, 71, 71) 0.5em;
    border-radius: 10em;
    margin-top: 1em;
}
.history{
    display: flex;
    justify-content: center;
    margin-top: 3em;
    margin-bottom: 5em;
    padding-right: 2em;
}
.box_history {
    padding: 1em;
    width: 50em;
    border-radius: 0.5em;
    background-color: rgba(68, 67, 67, 0.684);
    border: double rgb(72, 71, 71) 0.5em;
}
h4{
    text-align: center;
}
.member-foto{
    display: flex;
    justify-content: center;
    width: 8em;
    border-radius: 2em;
    border: solid rgb(72, 71, 71) 0.2em;
    margin-top: 1em;
}
.member-p{
    padding: 0.5em;
    text-align: center;
    font-size: 1em;
}
.p-bands{
    text-align: center;
}
.web_button{
    display: flex;
    justify-content: center;
    margin-right: 2em;
}
.wikipedia{
    width: 3em;
    margin-top: 1em;
    margin-left: 1.5em;
}
.wiki-text{
    font-size: 0.7em;
}
.b-b{
    margin-bottom: 2em;
}
.div_video{
    padding-right: 0.2em;
    border-radius: 3em;
    background-color: rgba(22, 95, 98, 0.282);
    border: double rgb(72, 71, 71) 0.5em;
    margin-bottom: 4em;
}
.video{
    margin-top: 3em;
    text-align: center;
    margin-bottom: 2em;
}
.audio{
    text-align: center;
    margin-bottom: 1em;
}
h5{
    margin-top: 2em;
    font-size: 1em;
    margin-bottom: 0.5em;
}