{% extends 'base.html' %}
{% block content %}
<h1 class="event-text">Events In Uk</h1>
<div class="band_buttons">
    <button class="event-buttons" onclick="myFunction()">Placebo</button>
</div>
<article id="divBea">
    <div class="container">
        <div class="box box1">
            <p>Portsmouth Guildhall, Portsmouth, United Kingdom </p>
            <p>Friday, 18 November 2022 19:00 </p>
            <a href="https://www.viagogo.co.uk/Concert-Tickets/Alternative-and-Indie/Placebo-Tickets/E-8525994" target="_blank" alt="buy"><button class="buy">Buy Ticket</button></a> 
        </div>
        <div class="box box1">
            <p>The Brighton Centre, Brighton, United Kingdom </p>
            <p>Saturday, 19 November 2022 18:30</p>
            <a href="https://www.viagogo.co.uk/Concert-Tickets/Alternative-and-Indie/Placebo-Tickets/E-8525995" target="_blank" alt="buy"><button class="buy">Buy Ticket</button></a>
        </div>
        <div class="box box1">
            <p>Eventim Olympia - Liverpool, Liverpool, United Kingdom </p>
            <p>Monday, 21 November 2022 19:00 </p>
            <a href="https://www.viagogo.co.uk/Concert-Tickets/Alternative-and-Indie/Placebo-Tickets/E-8525997" target="_blank" alt="buy"><button class="buy">Buy Ticket</button></a>
        </div>
        <div class="box box1">
            <p>Victoria Warehouse, Manchester, United Kingdom  </p>
            <p>Tuesday, 22 November 2022 19:00  </p>
            <a href="https://www.viagogo.co.uk/Concert-Tickets/Alternative-and-Indie/Placebo-Tickets/E-8525998" target="_blank" alt="buy"><button class="buy">Buy Ticket</button></a>
        </div>
        <div class="box box1">
            <p>Motorpoint Arena Cardiff, Cardiff, United Kingdom   </p>
            <p>Thursday, 24 November 2022 18:30</p>
            <a href="https://www.viagogo.co.uk/Concert-Tickets/Alternative-and-Indie/Placebo-Tickets/E-8526000" target="_blank" alt="buy"><button class="buy">Buy Ticket</button></a>
        </div>
        <div class="box box1">
            <p>O2 Academy Brixton, London, United Kingdom</p>
            <p>Saturday, 26 November 2022 19:00</p>
            <a href="https://www.viagogo.co.uk/Concert-Tickets/Alternative-and-Indie/Placebo-Tickets/E-8526001" target="_blank" alt="buy"><button class="buy">Buy Ticket</button></a>
        </div>
        <div class="box box1">
            <p>O2 Academy Brixton, London, United Kingdom </p>
            <p>Sunday, 27 November 2022 19:00</p>
            <a href="https://www.viagogo.co.uk/Concert-Tickets/Alternative-and-Indie/Placebo-Tickets/E-8526007" target="_blank" alt="buy"><button class="buy">Buy Ticket</button></a>
        </div>
        <div class="box box1">
            <p>De Montfort Hall, Leicester, United Kingdom</p>
            <p>Tuesday, 29 November 2022 19:00</p>
            <a href="https://www.viagogo.co.uk/Concert-Tickets/Alternative-and-Indie/Placebo-Tickets/E-8526008" target="_blank" alt="buy"><button class="buy">Buy Ticket</button></a>
        </div>
        <div class="box box1">
            <p>O2 Academy Leeds, Leeds, United Kingdom</p>
            <p>Wednesday, 30 November 2022 19:00 </p>
            <a href="https://www.viagogo.co.uk/Concert-Tickets/Alternative-and-Indie/Placebo-Tickets/E-8526009" target="_blank" alt="buy"><button class="buy">Buy Ticket</button></a>
        </div>
        <div class="box box1">
            <p>Newcastle City Hall, Newcastle upon Tyne, United Kingdom </p>
            <p>Friday, 02 December 2022 19:00</p>
            <a href="https://www.viagogo.co.uk/Concert-Tickets/Alternative-and-Indie/Placebo-Tickets/E-8526010" target="_blank" alt="buy"><button class="buy">Buy Ticket</button></a>
        </div>
        <div class="box box1">
            <p>O2 Academy Glasgow, Glasgow, United Kingdom </p>
            <p>Saturday, 03 December 2022 19:00 </p>
            <a href="https://www.viagogo.co.uk/Concert-Tickets/Alternative-and-Indie/Placebo-Tickets/E-8526117" target="_blank" alt="buy"><button class="buy">Buy Ticket</button></a>
        </div>
        <div class="box box1">
            <p>Corn Exchange Cambridge, Cambridge, United Kingdom </p>
            <p>Wednesday, 07 December 2022 19:00</p>
            <a href="https://www.viagogo.co.uk/Concert-Tickets/Alternative-and-Indie/Placebo-Tickets/E-8526118" target="_blank" alt="buy"><button class="buy">Buy Ticket</button></a>
        </div>
        <div class="box box1">
            <p>O2 Academy Birmingham, Birmingham, United Kingdom</p>
            <p>Thursday, 08 December 2022 19:00</p>
            <a href="https://www.viagogo.co.uk/Concert-Tickets/Alternative-and-Indie/Placebo-Tickets/E-8526119" target="_blank" alt="buy"><button class="buy">Buy Ticket</button></a>
        </div>
    </div>
</article>
<div class="band_buttons">
    <button class="event-buttons" onclick="myFunction2()">Limp Bizkit</button>
</div>
<article id="hide_2">
    <div class="container"> 
        <div class="box box1">
            <p>O2 Academy Brixton, London, United Kingdom</p>
            <p>Wednesday, 07 September 2022 19:00</p>
            <a href="https://www.viagogo.co.uk/Concert-Tickets/Hard-Rock-Metal/Limp-Bizkit-Tickets/E-6251746" target="_blank" alt="buy"><button class="buy">Buy Ticket</button></a> 
        </div>
        <div class="box box1">
            <p>O2 Academy Brixton, London, United Kingdom </p>
            <p>Thursday, 08 September 2022 19:00</p>
            <a href="https://www.viagogo.co.uk/Concert-Tickets/Hard-Rock-Metal/Limp-Bizkit-Tickets/E-10147602" target="_blank" alt="buy"><button class="buy">Buy Ticket</button></a>
        </div>
        <div class="box box1">
            <p>O2 Academy Birmingham, Birmingham, United Kingdom </p>
            <p>Sunday, 11 September 2022 19:00 </p>
            <a href="https://www.viagogo.co.uk/Concert-Tickets/Hard-Rock-Metal/Limp-Bizkit-Tickets/E-101459257" target="_blank" alt="buy"><button class="buy">Buy Ticket</button></a>
        </div>
        <div class="box box1">
            <p>Manchester Academy 1, Manchester, United Kingdom </p>
            <p>Monday, 12 September 2022 19:00 </p>
            <a href="https://www.viagogo.co.uk/Concert-Tickets/Hard-Rock-Metal/Limp-Bizkit-Tickets/E-6251745" target="_blank" alt="buy"><button class="buy">Buy Ticket</button></a>
        </div>
    </div>
</article>
<div class="band_buttons">
    <button class="event-buttons" onclick="myFunction3()">Corey Taylor</button>
</div>
<article id="hide_3">
    <div class="container"> 
        <div class="box box1">
            <p>London Palladium, London, United Kingdom </p>
            <p>Monday, 17 October 2022 19:00</p>
            <a href="https://www.viagogo.co.uk/Concert-Tickets/Hard-Rock-Metal/Corey-Taylor-Tickets/E-10238477" target="_blank" alt="buy"><button class="buy">Buy Ticket</button></a> 
        </div>
        <div class="box box1">
            <p>Bonus Arena, Hull, United Kingdom </p>
            <p>Wednesday, 19 October 2022 19:00 </p>
            <a href="https://www.viagogo.co.uk/Concert-Tickets/Hard-Rock-Metal/Corey-Taylor-Tickets/E-10238478" target="_blank" alt="buy"><button class="buy">Buy Ticket</button></a>
        </div>
        <div class="box box1">
            <p>Swansea Arena, Swansea, United Kingdom </p>
            <p>Monday, 24 October 2022 18:30 </p>
            <a href="https://www.viagogo.co.uk/Concert-Tickets/Hard-Rock-Metal/Corey-Taylor-Tickets/E-10238480" target="_blank" alt="buy"><button class="buy">Buy Ticket</button></a>
        </div>
    </div>
</article>
<div class="band_buttons">
    <button class="event-buttons" onclick="myFunction4()">Trivium</button>
</div>
<article id="hide_4">
    <div class="container"> 
        <div class="box box1">
            <p>O2 Academy Glasgow, Glasgow, United Kingdom </p>
            <p>Thursday, 12 January 2023 17:30 </p>
            <a href="https://www.viagogo.co.uk/Concert-Tickets/Hard-Rock-Metal/Trivium-Tickets/E-4790288" target="_blank" alt="buy"><button class="buy">Buy Ticket</button></a> 
        </div>
        <div class="box box1">
            <p>O2 Academy Birmingham, Birmingham, United Kingdom </p>
            <p>Friday, 13 January 2023 18:00 </p>
            <a href="https://www.viagogo.co.uk/Concert-Tickets/Hard-Rock-Metal/Trivium-Tickets/E-4790289" target="_blank" alt="buy"><button class="buy">Buy Ticket</button></a>
        </div>
        <div class="box box1">
            <p>Victoria Warehouse, Manchester, United Kingdom </p>
            <p>Saturday, 14 January 2023 18:00 </p>
            <a href="https://www.viagogo.co.uk/Concert-Tickets/Hard-Rock-Metal/Trivium-Tickets/E-4790290" target="_blank" alt="buy"><button class="buy">Buy Ticket</button></a>
        </div>
        <div class="box box1">
            <p>O2 Academy Brixton, London, United Kingdom </p>
            <p>Sunday, 15 January 2023 18:00</p>
            <a href="https://www.viagogo.co.uk/Concert-Tickets/Hard-Rock-Metal/Trivium-Tickets/E-4790291" target="_blank" alt="buy"><button class="buy">Buy Ticket</button></a>
        </div>
    </div>
</article>
<div class="band_buttons">
    <button class="event-buttons" onclick="myFunction5()">Ville Valo</button>
</div>
<article id="hide_5">
    <div class="container"> 
        <div class="box box1">
            <p>O2 Academy Bristol, Bristol, United Kingdom</p>
            <p>Friday, 10 March 2023 18:00 </p>
            <a href="https://www.viagogo.co.uk/Concert-Tickets/Rock-and-Pop/Ville-Valo-Tickets/E-150071780" target="_blank" alt="buy"><button class="buy">Buy Ticket</button></a> 
        </div>
        <div class="box box1">
            <p>Rock City Nottingham, Nottingham, United Kingdom</p>
            <p>Saturday, 11 March 2023 18:30 </p>
            <a href="https://www.viagogo.co.uk/Concert-Tickets/Rock-and-Pop/Ville-Valo-Tickets/E-150071781" target="_blank" alt="buy"><button class="buy">Buy Ticket</button></a>
        </div>
        <div class="box box1">
            <p>The Garage, Glasgow, United Kingdom </p>
            <p>Monday, 13 March 2023 19:00 </p>
            <a href="https://www.viagogo.co.uk/Concert-Tickets/Rock-and-Pop/Ville-Valo-Tickets/E-150086033" target="_blank" alt="buy"><button class="buy">Buy Ticket</button></a>
        </div>
        <div class="box box1">
            <p>O2 Ritz Manchester, Manchester, United Kingdom </p>
            <p>Tuesday, 14 March 2023 19:00 </p>
            <a href="https://www.viagogo.co.uk/Concert-Tickets/Rock-and-Pop/Ville-Valo-Tickets/E-150071782" target="_blank" alt="buy"><button class="buy">Buy Ticket</button></a>
        </div>
        <div class="box box1">
            <p>O2 Forum Kentish Town, London, United Kingdom  </p>
            <p>Wednesday, 15 March 2023 19:00 </p>
            <a href="https://www.viagogo.co.uk/Concert-Tickets/Rock-and-Pop/Ville-Valo-Tickets/E-150071783" target="_blank" alt="buy"><button class="buy">Buy Ticket</button></a>
        </div>
    </div>
</article>
<div class="band_buttons">
    <button class="no_content">Disturbed</button>
</div>
<div class="band_buttons">
    <button class="no_content">My Chamical Romance</button>
</div>
<div class="band_buttons">
    <button class="no_content">Slipknot</button>
</div>
<div class="band_buttons">
    <button class="no_content">RHCP</button>
</div>
<div class="band_buttons">
    <button class="no_content
    korn">KoЯn</button>
</div>
{% endblock %}