{% extends 'base.html' %}
{% block content %}
<div class="welcome_text">
    <h1 class="welcome"> Welcome!!! </h1>
</div>
<div class="center">
    <div class="main-box">
        <div class="p-text">
            <p>Welcome fellow metalheads,</p>
            <p>our website is designed to makeyour </p>
            <p>life easier.We have all your favourite </p>
            <p>bands including Disturbed, Slipknot, </p>
            <p>Rammstein and many more.</p>
            <p>You can find band history, videos,</p>
            <p>tour dates, locations and where you can</p> 
            <p>purchase tickets from all in one!!!</p>
        </div>
    </div>
</div>
{% endblock %}