{% extends 'base.html' %}
{% block content %}
    <h1 class="bands_name">Disturbed</h1>
<div class="band">
    <img  class = "logo-band" src="{{ url_for('static', filename='img/mcr.jpg') }}" alt="logo" title="LOGO1">
</div>
<div class="web_button">
    <button class="event-buttons" onclick="myFunction()">History</button>
</div>
<article id="divBea">
    <div class="history"> 
        <div class="box box_history">
            <p class="p-bands">
                My Chemical Romance (commonly abbreviated to MCR or My Chem) is an American rock band from Newark, New Jersey. 
                The band's current lineup consists of lead vocalist Gerard Way, lead guitarist Ray Toro, rhythm guitarist Frank Iero, and bassist Mikey Way. 
                They are considered one of the most influential rock groups of the 2000s and a major act in the pop-punk and emo genres, despite the band rejecting the latter label.
                Founded on 12 September 2001 by Gerard, Mikey, Toro, and drummer Matt Pelissier (and later joined by Iero), the band signed with Eyeball Records and released their debut album, 
                I Brought You My Bullets, You Brought Me Your Love, in 2002. They signed with Reprise Records the next year and released their major-label debut, Three Cheers for Sweet Revenge, in 2004. 
                Shortly after the album's release, Pelissier was replaced by Bob Bryar. 
                The album was a commercial success, and it attained platinum status over a year later. 
            </p>
            <div class="web_button">
                <a href="https://www.mychemicalromance.com/thefoundationsofdecay?ref=https://www.google.com/" target="_blank" alt="web"><button class="buy">Official Website</button></a>
            </div>
        </div>
    </div>
    <div class="history"> 
        <div class="box box_history">
            <h4>Members</h4>
            <div class="band">
                <img  class = "member-foto" src="{{ url_for('static', filename='img/gerard.jpg') }}" alt="Gerard" title="Gerard">
            </div>
            <div class="member-p">
                <p class="p-bands">Gerard Way</p>
                <p class="p-bands">
                    Gerard Way (born April 9, 1977) is an American singer, songwriter, and comic book writer. 
                    He is best known as the lead vocalist and co-founder of the rock band My Chemical Romance. 
                    He released his debut solo album, Hesitant Alien, in 2014.
                    Way co-created and wrote the comic mini-series The True Lives of the Fabulous Killjoys and the Eisner Award-winning comic book series The Umbrella Academy, 
                    the latter of which was later adapted into a Netflix series released in 2019. 
                    Way is also the co-founder of DC Comics' Young Animal imprint. 
                    In the Marvel Universe, Way is the co-creator of Peni Parker, an alternative version of Spider-Man who also later appeared in the film Spider-Man: Into the Spider-Verse. 
                </p>  
                <div class="web_button">
                    <a href="https://en.wikipedia.org/wiki/Gerard_Way" target="_blank" alt="Gerard"><img class="wikipedia"src="{{ url_for('static', filename='img/wikipedia.png') }}" alt="Gerard"></a>
                </div>
                <p class="wiki-text">&#8679 WikipediA &#8679</p>
            </div>
            <div class="band">
                <img  class = "member-foto" src="{{ url_for('static', filename='img/ray.gif') }}" alt="Raymond" title="Raymond">
            </div>
            <div class="member-p">
                <p class="p-bands">Raymond Toro</p>
                <p class="p-bands">
                    Raymond Toro (born July 15, 1977) is an American musician who serves as lead guitarist and backing vocalist of the band My Chemical Romance.
                </p>
                <div class="web_button">
                    <a href="https://en.wikipedia.org/wiki/Ray_Toro" target="_blank" alt="Daniel"><img class="wikipedia"src="{{ url_for('static', filename='img/wikipedia.png') }}" alt="Raymond"></a>
                </div>
                <p class="wiki-text">&#8679 WikipediA &#8679</p>
            </div>
            <div class="band">
                <img  class = "member-foto" src="{{ url_for('static', filename='img/mikey.jpg') }}" alt="Mikey" title="Mikey">
            </div>
            <div class="member-p">
                <p class="p-bands">Mikey Way</p>
                <p class="p-bands">
                    Michael James Way (born September 10, 1980)is an American musician and actor. 
                    He is best known as the bassist of the rock band My Chemical Romance.
                    He is also the multi-instrumentalist and backing vocalist of rock duo Electric Century.
                    Mikey co-wrote Collapser with Shaun Simon, which was released July 2019 on DC Comics. 
                </p>
                <div class="web_button">
                    <a href="https://en.wikipedia.org/wiki/Mikey_Way" target="_blank" alt="Mikey"><img class="wikipedia"src="{{ url_for('static', filename='img/wikipedia.png') }}" alt="Mikey"></a>
                </div>
                <p class="wiki-text">&#8679 WikipediA &#8679</p>
            </div>
            <div class="band">
                <img  class = "member-foto" src="{{ url_for('static', filename='img/frank.jpg') }}" alt="Frank" title="Frank">
            </div>
            <div class="member-p">
                <p class="p-bands">Frank Iero</p>
                <p class="p-bands">
                    Frank Anthony Iero is an American musician who is the rhythm guitarist
                    and backup vocalist of the rock band My Chemical Romance and post-hardcore band Leathermouth. 
                    He has a solo project titled "Frank Iero and the Future Violents" (formerly "frnkiero andthe cellabration" and "Frank Iero and the Patience"). 
                    He released his debut solo album titled Stomachaches on August 26, 2014. 
                </p>
                <div class="web_button">
                    <a href="https://en.wikipedia.org/wiki/Frank_Iero" target="_blank" alt="Frank"><img class="wikipedia"src="{{ url_for('static', filename='img/wikipedia.png') }}" alt="Frank"></a>
                </div>
                <p class="wiki-text">&#8679 WikipediA &#8679</p>
            </div>
        </div>
    </div>
</article>
<div class="b-b">
    <div class="web_button">
        <button class="event-buttons" onclick="myFunction2()">Audio</button>
    </div>
</div>
<article id="hide_2">
    <div class="div_video">
        <div class="audio">
            <h5>My Chemical Romance — Famous Last Words</h5>
            <audio controls>
                <source src="{{ url_for('static', filename='mp3/mcr/My Chemical Romance — Famous Last Words.mp3') }}" type="audio/mpeg">
            Your browser does not support the audio element.
            </audio>
            <h5>My Chemical Romance — Teenagers</h5>
            <audio controls>
                <source src="{{ url_for('static', filename='mp3/mcr/My Chemical Romance — Teenagers.mp3') }}" type="audio/mpeg">
            Your browser does not support the audio element.
            </audio>
            <h5>My Chemical Romance — The Light Behind Your Eyes </h5>
            <audio controls>
                <source src="{{ url_for('static', filename='mp3/mcr/My Chemical Romance — The Light Behind Your Eyes .mp3') }}" type="audio/mpeg">
            Your browser does not support the audio element.
            </audio>
            <h5>My Chemical Romance — The Sharpest Lives</h5>
            <audio controls>
                <source src="{{ url_for('static', filename='mp3/mcr/My Chemical Romance — The Sharpest Lives.mp3') }}" type="audio/mpeg">
            Your browser does not support the audio element.
            </audio>
            <h5>My Chemical Romance — The World Is Ugly</h5>
            <audio controls>
                <source src="{{ url_for('static', filename='mp3/mcr/My Chemical Romance — The World Is Ugly.mp3') }}" type="audio/mpeg">
            Your browser does not support the audio element.
            </audio>
            <h5>My Chemical Romance — Welcome To The Black Parade</h5>
            <audio controls>
                <source src="{{ url_for('static', filename='mp3/mcr/My Chemical Romance — Welcome To The Black Parade.mp3') }}" type="audio/mpeg">
            Your browser does not support the audio element.
            </audio>
        </div>
    </div>
</article>
    {% endblock %}